<div ng-controller="setCrowdController">
  <ons-navigator animation="slide" var="app.navi">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">{{$root.lang.MAIN_MENU.SET_CROWD}}</div>
      </ons-toolbar>

      <button ng-if="!nearbyPlaces" class="refresh-button button button--quiet" ng-click="checkLocation()">{{$root.lang.SET_CROWD_MENU.NO_LOCATION}}</button>

      <div ng-if="nearbyPlaces === 'pending'" class="loading-gif-wrapper">
        <img class="loading-gif-inner" ng-src="img/loading.gif" />
      </div>

      <div ng-if="nearbyPlaces && nearbyPlaces !== 'pending'" style="height: 100%;">
        <button ng-if="nearbyPlaces.length === 0" class="refresh-button button button--quiet" ng-click="selectPlace()">{{$root.lang.SET_CROWD_MENU.NO_PLACE}}</button>
        <div ng-if="nearbyPlaces.length > 0">
          <ons-list modifier="inset">
            <ons-list-item ng-repeat="place in nearbyPlaces" ng-click="selectPlace(place)">
              <div class="crowd-name">
                <img ng-src="img/sources/google.png" /> {{place.name}}
              </div>
            </ons-list-item>
          </ons-list>
          <ons-bottom-toolbar>
            <div class="tab-bar">
              <label class="tab-bar__item" ng-click="selectPlace()">
                <input type="radio" name="tab-bar-c" checked="checked">
                <button class="tab-bar__button">
                  <div class="tab-bar__label">{{$root.lang.SET_CROWD_MENU.ENTER_CUSTOM_PLACE}}</div>
                </button>
              </label>
            </div>
          </ons-bottom-toolbar>
        </div>
      </div>
    </ons-page>
  </ons-navigator>
</div>
