
.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.about-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}
.about-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}
.about-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.about-text {
  margin: 10px;
}
.about-title-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
}
.about-title-2 {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
}
.about-description {
  font-size: 17px;
  padding-bottom: 5px;
  text-align: justify;
}
  .crowd-item {
  }
  .crowd-main-body{
    height: 60px;
    width: 100%;
  }
  .crowd-left {
    float:left;
    width: 10%;
  }
  .crowd-source-icon {

  }
  .crowd-center {
    float:left;
    width: 70%;
  }
  .crowd-place-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .crowd-city {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .crowd-time {
     font-size: 12px;
  }
  .crowd-right {
    float: right;
    margin-right: 10px;
  }
  .crowd-last-value {
    font-size: 12px;
  }
  .crowd-circle {

  }
  .crowd-feedbacks{
    font-size: 12px;
    position: absolute;
    width: 44px;
    bottom: 33px;
  }
  .crowd-positive-feedback {
    float: left;
    width: 50%;
    color: green;
  }
  .crowd-negative-feedback {
    float: right;
    color: red;
  }
  .crowd-average-container {
    height: 20px;
    width: 100%;
  }
  .crowd-average-text {
    width: 20%;
    float: left;
    font-size: 12px;
  }
  .crowd-average-indicator {
    width: 80%;
    height: 20px;
    float:left;
    background-color: transparent;
  } 
  .crowd-average-bar {
    border-radius: 25px;
    width: 90%;
    height: 5px;
    background-color: lightgray;
    margin-top: 6px;
  }
  .crowd-average-fill {
    border-radius: 25px;
    height: 100%;
    width: 40%;
    background-color:red;
  }
.positive-feedback {
  color: green;
}
.negative-feedback {
  color: red;
}
.feedback-done {
  opacity: 0.3;
}
.rhs-avg-crowd-indicator {
  float: right;
  margin-right: 12px;
}
.bottom-menu-list-bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: 14px;
}
.menu-icon {
  float: left;
  width: 10%;
}
.menu-text {
  margin-left: 5%;
}

.list__item__center {
	max-width: 100% !important;
}
.popover__content {
	min-height: 0 !important;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*.crowd-item {
  line-height: 10px !important;
  padding-top: 5px !important;
}
.crowd-date {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
  margin-top: -5px;
  word-spacing: 100px;
}
.crowd-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.crowd-last-value {
  float: left;
  margin: auto;
}
.crowd-average-value {
  float: left;
  margin: auto;
}*/
.refresh-button {
  height: 100% !important;
  width: 100% !important;
  white-space: normal !important;
}
.loading-gif-wrapper {
  text-align: center;
}
.loading-gif-inner {
  margin-top: 50px;
}
.crowd-detail-dialog {
  width: 90% !important;
}


div#preload {
  display: none;
}
