<ons-dialog var="dialog" cancelable ng-controller="crowdReportController">
  <ons-list>
    <ons-list-item ng-repeat="rr in reportReasons" modifier="tappable">
      <label class="radio-button radio-button--list-item">
        <input type="radio" ng-model="$parent.reportReason" name="report-reasons" value="{{rr.value}}"/>
        <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
        {{rr.label}}
      </label>
    </ons-list-item>
  </ons-list>

  <ons-button modifier="large" ng-click="dialog.hide(); report();">Report</ons-button>
</ons-dialog>
