<div ng-controller="seeCrowdDetailController">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button></ons-back-button>
      </div>
      <div class="center">
        <div class="crowd-name">
          <img ng-src="img/sources/{{selectedPlaceBasedCrowd.placeSource}}.png" /> {{selectedPlaceBasedCrowd.placeName}}
        </div>
      </div>
      <!-- <div class="right">
      <div class="rhs-avg-crowd-indicator">
        <div class="c100 p{{selectedPlaceBasedCrowd.crowdAverage}} crowd-size" style="margin-top: 7px;">
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div> -->
      <div class="right">
        <ons-toolbar-button ng-click="popover.show($event)">
          <ons-icon icon="ion-android-more-vertical"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-list>
      <ons-list-item ng-repeat="crowd in selectedPlaceBasedCrowd.crowds">
        <ons-row align="center">
          <ons-col>
            {{crowd.lastUpdatePass}} {{$root.lang.SEE_CROWD_MENU.MIN_AGO}}
          </ons-col>
          <ons-col width="40px" ng-class="{'feedback-done' : !$first || crowdType !== 'here' || $root.device.id === crowd.deviceId, 'positive-feedback' : true}">
            <ons-icon ng-if="!$first || crowdType !== 'here' || $root.device.id === crowd.deviceId" icon="fa-thumbs-o-up"></ons-icon>
            <ons-icon ng-if="$first && crowdType === 'here' && $root.device.id !== crowd.deviceId && myFeedback === true" icon="fa-thumbs-up"></ons-icon>
            <ons-icon ng-if="$first && crowdType === 'here' && $root.device.id !== crowd.deviceId && myFeedback !== true" icon="fa-thumbs-o-up" ng-click="givePositiveFeedback()"></ons-icon>
            <span>{{crowd.crowdFeedback.positiveFeedback}}</span>
          </ons-col>
          <ons-col width="40px" ng-class="{'feedback-done' : !$first || crowdType !== 'here' || $root.device.id === crowd.deviceId, 'negative-feedback' : true}">
            <ons-icon ng-if="!$first || crowdType !== 'here' || $root.device.id === crowd.deviceId" icon="fa-thumbs-o-down"></ons-icon>
            <ons-icon ng-if="$first && crowdType === 'here' && $root.device.id !== crowd.deviceId && myFeedback === false" icon="fa-thumbs-down"></ons-icon>
            <ons-icon ng-if="$first && crowdType === 'here' && $root.device.id !== crowd.deviceId && myFeedback !== false" icon="fa-thumbs-o-down" ng-click="giveNegativeFeedback()"></ons-icon>
            <span>{{crowd.crowdFeedback.negativeFeedback}}</span>
          </ons-col>
          <ons-col width="40px" class="crowd-last-value">
            <div class="c100 p{{crowd.crowdValue}} crowd-size center">
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </ons-page>
</div>
