
.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.about-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}
.about-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}
.about-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.about-text {
  margin: 10px;
}
.about-title-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
}
.about-title-2 {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
}
.about-description {
  font-size: 17px;
  padding-bottom: 5px;
  text-align: justify;
}