  .crowd-item {
  }
  .crowd-main-body{
    height: 60px;
    width: 100%;
  }
  .crowd-left {
    float:left;
    width: 10%;
  }
  .crowd-source-icon {

  }
  .crowd-center {
    float:left;
    width: 70%;
  }
  .crowd-place-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .crowd-city {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .crowd-time {
     font-size: 12px;
  }
  .crowd-right {
    float: right;
    margin-right: 10px;
  }
  .crowd-last-value {
    font-size: 12px;
  }
  .crowd-circle {

  }
  .crowd-feedbacks{
    font-size: 12px;
    position: absolute;
    width: 44px;
    bottom: 33px;
  }
  .crowd-positive-feedback {
    float: left;
    width: 50%;
    color: green;
  }
  .crowd-negative-feedback {
    float: right;
    color: red;
  }
  .crowd-average-container {
    height: 20px;
    width: 100%;
  }
  .crowd-average-text {
    width: 20%;
    float: left;
    font-size: 12px;
  }
  .crowd-average-indicator {
    width: 80%;
    height: 20px;
    float:left;
    background-color: transparent;
  } 
  .crowd-average-bar {
    border-radius: 25px;
    width: 90%;
    height: 5px;
    background-color: lightgray;
    margin-top: 6px;
  }
  .crowd-average-fill {
    border-radius: 25px;
    height: 100%;
    width: 40%;
    background-color:red;
  }