.positive-feedback {
  color: green;
  text-align: center;
}
.negative-feedback {
  color: red;
  text-align: center;
}
.feedback-done {
  opacity: 0.3;
}
.rhs-avg-crowd-indicator {
  float: right;
  margin-right: 12px;
}