.gmnoprint {
	display: none !important;
}

.pinpoint {
	left: 20px !important;
	top: 20px !important;
}

.selected-place-info {
    position: absolute;
    z-index: 99999999999;
    bottom: 12px;
    width: 92%;
    left: 2%;
    height: 64px;
    background-color: white;
    border-radius: 2%;
    padding-top: 12px;
    padding-left: 2%;
    padding-right: 2%;
    opacity: 0.8;
}

.pac-container {
    width: 100% !important;
    left: 0px !important;
    height: 60% !important;
    overflow-y: scroll !important;
    top: 56px !important;
}
.pac-item {
    line-height: 48px !important;
    font-size: 16px !important;
}
.pac-item-query {
    float: right;
}
.pac-logo:after {
    display: none !important;
}
.pac-icon {
    display: none !important;
}