.list__item__center {
	max-width: 100% !important;
}
.popover--material {
	top: 4px !important;
}
.page__content > .scroll {
	height: 100%;
}
.list__item--longdivider {
	border-bottom: 1px solid #eee !important;
}
.list--inset {
	border: 1px solid #ccc !important;
}