html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.loading-gif-wrapper {
  text-align: center;
}
.loading-gif-inner {
  margin-top: 50px;
}
.crowd-detail-dialog {
  width: 90% !important;
}


div#preload {
  display: none;
}
