<ons-page ng-controller="askCrowdInmapController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button ng-show="searchInput.value.length > 0" class="search-crowd-cancel" ng-click="clearSearchInput()"></ons-back-button>
            <ons-toolbar-button ng-show="searchInput.value.length === 0" ng-click="menu.toggle()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            <input class="search-crowd truncate" type="text" placeholder="{{$root.lang.ASK_CROWD_MENU.SEARCH_INPUT}}" ng-model="searchInput.value" class="text-input text-input--underbar" id="ask-crowd-search-input" ng-disabled="!searchInput.searchable"/>
        </div>
        <div class="right" ng-show="searchInput.value.length > 2 && searchInput.searchable">
            <ons-toolbar-button ng-click="searchPlace()">
                <ons-icon icon="fa-search"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="askMap" style="width:100%; height:100%"></div>
    <div ng-if="selectedPlace" class="selected-place-info" ng-click="selectPlace()">
        <div class="crowd-main-body">
          <div class="crowd-left">
            <div>
              <ons-icon ng-if="selectedPlace.isNearby" icon="fa-street-view"></ons-icon>
            </div>
            <div>
              <ons-icon icon="fa-{{selectedPlace.typeObject.FA_ICON}}" style="color: brown"></ons-icon>
            </div>
          </div>
          <div class="crowd-center">
            <div class="crowd-place-name">
                {{selectedPlace.name}}
            </div>
            <div class="crowd-city" ng-if="selectedPlace.address">
                <ons-icon icon="fa-map-marker"></ons-icon> {{selectedPlace.address}}
            </div>
            <div class="crowd-time">
                <ons-icon ng-if="selectedPlace.lastUpdatePass" icon="fa-clock-o"></ons-icon>  
                <span ng-if="selectedPlace.lastUpdatePass === 0">
                    {{$root.lang.SEE_CROWD_MENU.JUST_NOW}}
                </span>
                <span ng-if="selectedPlace.lastUpdatePass > 0">
                    {{selectedPlace.lastUpdatePass}} {{$root.lang.SEE_CROWD_MENU.MIN_AGO}}
                </span>
            </div>
            <div ng-if="selectedPlace.averageCrowdValue" class="crowd-attachments">
                <ons-icon ng-if="selectedPlace.hasPhoto === true" icon="fa-picture-o"></ons-icon>
                <ons-icon ng-if="selectedPlace.hasText === true" icon="fa-comment-o"></ons-icon>
                <ons-icon ng-if="selectedPlace.hasAsk === true" icon="fa-question"></ons-icon>
            </div>
          </div>
          <div class="crowd-right">
            <div ng-if="selectedPlace.averageCrowdValue" class="crowd-circle">
              <div class="c100 p{{selectedPlace.averageCrowdValue}} crowd-size center">
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </div>
            <div ng-if="!selectedPlace.averageCrowdValue" class="crowd-question">
                <ons-icon icon="fa-question"></ons-icon>
            </div>
          </div>
        </div>
    </div>

    <ons-dialog var="zoomForAskDialog" animation="none">
      <div style="text-align: center; padding: 10px;">
        <p>
          {{$root.lang.WARNING.ZOOM_FOR_ASK}}
        </p>

        <p>
          <ons-button ng-click="zoomForAskDialog.hide()">{{$root.lang.DIALOG.CLOSE}}</ons-button>
        </p>
      </div>
    </ons-dialog>
    <ons-dialog var="noPlaceFoundDialog" animation="none">
      <div style="text-align: center; padding: 10px;">
        <p>
          {{$root.lang.WARNING.NO_RESULT_BY_SEARCH}}
        </p>

        <p>
          <ons-button ng-click="noPlaceFoundDialog.hide()">{{$root.lang.DIALOG.CLOSE}}</ons-button>
        </p>
      </div>
    </ons-dialog>
</ons-page>