<ons-page ng-controller="askCrowdInputController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center" ng-click="$root.seePlaceDetail(selectedPlace)">
	        <ons-icon icon="fa-{{selectedPlace.typeObject.FA_ICON}}"></ons-icon> {{selectedPlace.name}}
	    </div>
      </div>
    </ons-toolbar>
    <ons-list>
      <ons-list-item>
        <textarea class="textarea" maxlength="200" ng-model="askCrowdText.value" placeholder="How crowd {{selectedPlace.name}}" style="width: 100%; height: 58px;"></textarea>
      </ons-list-item>
    </ons-list>
    <ons-bottom-toolbar>
        <div class="tab-bar">
            <label class="tab-bar__item" ng-click="askCrowd()">
                <input type="radio" name="tab-bar-c" checked="checked">
                <button class="tab-bar__button">
                    <div class="tab-bar__label">Ask Crowd
                    </div>
                </button>
            </label>
        </div>
    </ons-bottom-toolbar>
</ons-page>