<ons-page modifier="menu-page">
  <ons-toolbar modifier="transparent">
    <div class="right">
      <ons-toolbar-button ng-click="menu.closeMenu()">
      </ons-icon>{{$root.lang.MAIN_MENU.CLOSE}}
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-list>
    <ons-list-item onclick="menu.closeMenu();app.navi.pushPage('templates/settings.html', {animation: 'slide'});">
      <div class="menu-icon">
        <ons-icon icon="fa-cog"></ons-icon>
      </div>
      <span class="menu-text">
        {{$root.lang.MAIN_MENU.SETTINGS}}
      </span>
    </ons-list-item>
    <ons-list-item onclick="menu.closeMenu();app.navi.pushPage('templates/about.html', {animation: 'slide'});">
      <div class="menu-icon">
        <ons-icon icon="fa-info"></ons-icon>
      </div>
      <span class="menu-text">
        {{$root.lang.MAIN_MENU.ABOUT}}
      </span>
    </ons-list-item>
    <ons-list-item ng-show="<%=REPORT_ISSUE%>" onclick="menu.closeMenu();app.navi.pushPage('templates/report-issue.html', {animation: 'slide'});">
      <div class="menu-icon">
        <ons-icon icon="fa-bug"></ons-icon>
      </div>
      <span class="menu-text">
        {{$root.lang.MAIN_MENU.REPORT_ISSUE}}
      </span>
    </ons-list-item>
    <ons-list-item ng-click="$root.exitApp()">
      <div class="menu-icon">
        <ons-icon icon="fa-sign-out"></ons-icon>
      </div>
      <span class="menu-text">
        {{$root.lang.MAIN_MENU.EXIT}}
      </span>
    </ons-list-item>
  </ons-list>
</ons-page>
