<div ng-controller="reportIssueController">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-back-button class="search-crowd-cancel" onclick="menu.setMainPage('templates/crowd.html')"></ons-back-button>
            </div>
            <div class="center">{{$root.lang.REPORT_ISSUE.TITLE}}</div>
        </ons-toolbar>

        <div style="text-align: center; margin-top:20px">
            <p>{{$root.lang.REPORT_ISSUE.EXPLANATION}}</p>
        </div>

        <div style="text-align: center;">
            <p>
                <ons-input style="width:80%" type="email" modifier="material" placeholder="{{$root.lang.REPORT_ISSUE.EMAIL}}" float ng-model="reportInfo.email"></ons-input>
            </p>
            <p style="margin-top: 30px;">
                <textarea ng-model="reportInfo.description" style="width:80%; resize:none; height:72px;" class="text-input text-input--material text-input--underbar" placeholder="{{$root.lang.REPORT_ISSUE.DESCRIPTION}}" maxlength="200"></textarea>
            </p>
            <p style="margin-top: 30px;">
                <ons-button style="width:80%" ng-disabled="reportInfo.description.length < 12" ng-click="reportIssue()">{{$root.lang.REPORT_ISSUE.SUBMIT}}</ons-button>
            </p>
        </div>
    </ons-page>
</div>
