<ons-page ng-controller="seeCrowdInmapController" ons-show="onMapShow()">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">{{$root.lang.MAIN_MENU.SEE_CROWD}}</div>
        <div class="right">
            <ons-toolbar-button onclick="app.seeCrowdTabbar.setActiveTab(0, {animation: 'none'});">
                <ons-icon icon="fa-list"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="map" style="width:100%; height:100%"></div>
    <div ng-if="selectedPlace" class="selected-place-info" ng-click="selectPlace()">
        <div class="crowd-main-body">
          <div class="crowd-left">
            <div>
              <ons-icon ng-if="selectedPlace.isNearby" icon="fa-street-view"></ons-icon>
            </div>
            <div>
              <ons-icon ng-if="selectedPlace.source ==='custom'" icon="fa-thumb-tack" style="color: brown"></ons-icon>
            </div>
          </div>
          <div class="crowd-center">
            <div class="crowd-place-name">
                {{selectedPlace.name}}
            </div>
            <div class="crowd-city" ng-show="selectedPlace.district && selectedPlace.district !== ''">
                <ons-icon icon="fa-map-marker"></ons-icon> {{selectedPlace.placeDistrict}}
            </div>
            <div class="crowd-time">
                <ons-icon icon="fa-clock-o"></ons-icon>  
                <span ng-if="selectedPlace.lastUpdatePass === 0">
                    {{$root.lang.SEE_CROWD_MENU.JUST_NOW}}
                </span>
                <span ng-if="selectedPlace.lastUpdatePass > 0">
                    {{selectedPlace.lastUpdatePass}} {{$root.lang.SEE_CROWD_MENU.MIN_AGO}}
                </span> [{{selectedPlace.type}}]
            </div>
            <div class="crowd-attachments">
                <ons-icon ng-if="selectedPlace.hasPhoto === true" icon="fa-picture-o"></ons-icon>
                <ons-icon ng-if="selectedPlace.hasText === true" icon="fa-comment-o"></ons-icon>
            </div>
          </div>
          <div class="crowd-right">
            <div class="crowd-circle">
              <div class="c100 p{{selectedPlace.averageCrowdValue}} crowd-size center">
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</ons-page>