<div ng-controller="seeCrowdDetailController">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button></ons-back-button>
      </div>
      <div class="center">
        <div class="crowd-name truncate">
           <ons-icon ng-if="selectedPlaceBasedCrowd.placeSource ==='custom'" icon="fa-thumb-tack"></ons-icon> {{selectedPlaceBasedCrowd.placeName}}
        </div>
      </div>
      <div class="right">
        <ons-toolbar-button >
          <ons-icon ng-click="popover.show($event)" icon="fa-ellipsis-v"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-list>
      <ons-list-item ng-repeat="crowd in selectedPlaceBasedCrowd.crowds" ng-click="seeCrowdAttachment(crowd)">
        <ons-row align="center">
          <ons-col>
            {{crowd.lastUpdatePass}} {{$root.lang.SEE_CROWD_MENU.MIN_AGO}}
            <span class="crowd-owner" ng-if="$root.device.id === crowd.deviceId">({{$root.lang.SEE_CROWD_MENU.YOU}})</span>
          </ons-col>
          <ons-col width="40px" class="positive-feedback">
            <ons-icon ng-if="crowd.feedbackable === true && crowd.myFeedback !== true" icon="fa-thumbs-o-up" ng-click="givePositiveFeedback(crowd);$event.stopPropagation();"></ons-icon>
            <ons-icon ng-if="crowd.feedbackable === true && crowd.myFeedback === true" icon="fa-thumbs-up"></ons-icon>
            <span>{{crowd.crowdFeedback.positiveFeedback}}</span>
          </ons-col>
          <ons-col width="40px" class="negative-feedback">
            <ons-icon ng-if="crowd.feedbackable === true && crowd.myFeedback !== false" icon="fa-thumbs-o-down" ng-click="giveNegativeFeedback(crowd);$event.stopPropagation();"></ons-icon>
            <ons-icon ng-if="crowd.feedbackable === true && crowd.myFeedback === false" icon="fa-thumbs-down"></ons-icon>
            <span>{{crowd.crowdFeedback.negativeFeedback}}</span>
          </ons-col>
          <ons-col width="40px" class="crowd-last-value">
            <div class="c100 p{{crowd.crowdValue}} crowd-size center">
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </ons-col>
        </ons-row>
        <ons-row align="left">
          <ons-col>
            <ons-icon ng-if="crowd.crowdPhoto" icon="fa-picture-o"></ons-icon>
            <ons-icon ng-if="crowd.crowdText" icon="fa-comment-o"></ons-icon>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </ons-page>
  <!-- <ons-fab ons-if-platform="android" ng-if="selectedPlaceBasedCrowd.distanceGroup === 0" position="bottom right" ng-click="setCrowd()">
        <ons-icon icon="md-plus"></ons-icon>
    </ons-fab> -->
</div>
