<div ng-controller="seeCrowdHereController">
    <ons-page>
        <ons-toolbar>
            <div class="center">
                <input ng-model="searchInput" ng-change="searchInputChange(searchInput)" type="text" class="search-input" style="height: 100%; width:100%; border-radius: 0px;" placeholder="{{$root.lang.SEE_CROWD_MENU.SEARCH_HERE}}" />
            </div>
        </ons-toolbar>
        <div ng-if="!crowds" style="height: 100%;">
            <button class="refresh-button button button--quiet" ng-click="checkLocation()">{{$root.lang.SEE_CROWD_MENU.NO_LOCATION}}</button>
        </div>
        <div ng-if="crowds === 'pending'" style="text-align: center; padding-top: 100px;">
            <!-- <ons-progress-circular indeterminate></ons-progress-circular> -->
            <img src="img/loading.gif"/>
        </div>
        <div ng-if="crowds && crowds !== 'pending' && crowds.length === 0" style="height: 100%;">
            <button class="refresh-button button button--quiet" onclick="menu.setMainPage('templates/set-crowd.html')">{{$root.lang.SEE_CROWD_MENU.NO_PLACE}}</button>
        </div>
        <div ng-if="crowds && crowds !== 'pending' && crowds.length > 0">
            <ons-list ons-lazy-repeat="MyDelegate">
              <ons-list-item ng-click="selectPlaceBasedCrowd(item)">
                <div class="crowd-main-body">
                  <div class="crowd-left">
                    <div class="crowd-source-icon">
                      <img ng-src="img/sources/{{item.placeSource}}.png" />
                    </div>
                  </div>
                  <div class="crowd-center">
                    <div class="crowd-place-name">{{item.placeName}}</div>
                    <div class="crowd-city" ng-show="item.placeDistrict && item.placeDistrict !== ''"><ons-icon icon="ion-ios-location-outline"></ons-icon> {{item.placeDistrict}}</div>
                    <div class="crowd-time"><ons-icon icon="ion-ios-clock-outline"> {{item.crowdLast.lastUpdatePass}} {{$root.lang.SEE_CROWD_MENU.MIN_AGO}}</div>
                  </div>
                  <div class="crowd-right">
                    <div class="crowd-last-value">{{$root.lang.SEE_CROWD_MENU.LAST_VALUE}} {{item.crowdLast.crowdValue}}%</div>
                    <div class="crowd-circle">
                      <div class="c100 p{{item.crowdLast.crowdValue}} crowd-size center">
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </div>
                    <div class="crowd-feedbacks">
                      <div ng-if="item.crowdLast.crowdFeedback.positiveFeedback !== 0" class="crowd-positive-feedback">+{{item.crowdLast.crowdFeedback.positiveFeedback}}</div>
                      <div ng-if="item.crowdLast.crowdFeedback.negativeFeedback !== 0" class="crowd-negative-feedback">-{{item.crowdLast.crowdFeedback.negativeFeedback}}</div>
                    </div>
                  </div>
                </div>
                <div class="crowd-average-container">
                  <div class="crowd-average-text">{{$root.lang.SEE_CROWD_MENU.AVERAGE_VALUE}} {{item.crowdAverage}}%</div>
                  <div class="crowd-average-indicator">
                    <div class="crowd-average-bar">
                      <div class="crowd-average-fill" style="width: {{item.crowdAverage}}%"></div>
                    </div>
                  </div>
                </div>
              </ons-list-item>
            </ons-list>
        </div>
    </ons-page>
</div>
