<div ng-controller="setCrowdAttachmentController">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button></ons-back-button>
      </div>
      <div class="center">
        <ons-icon ng-if="selectedPlace.source ==='custom'" icon="fa-thumb-tack"></ons-icon>
        {{selectedPlace.name}}
      </div>
    </ons-toolbar>
    <ons-list>
      <ons-list-item>
        <ons-row align="center">
        <ons-col>
            {{selectedCrowdLevel.text}}
        </ons-col>
        <ons-col width="40px" class="crowd-last-value">
          <div class="c100 p{{selectedCrowdLevel.value}} crowd-size center">
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </ons-col>
      </ons-row>
      </ons-list-item>
      <ons-list-item tappable ng-show="!crowdPhoto" ng-click="takePhoto()">
        <div class="left">
          <ons-icon icon="fa-camera" class="list__item__icon"></ons-icon>
        </div>
        <div class="center">
          {{$root.lang.SET_CROWD_ATTACHMENT.ATTACH_PHOTO}}          
        </div>
      </ons-list-item>
      <ons-list-item ng-show="crowdPhoto">
        <div class="left">
          <img ng-src="data:image/png;base64,{{crowdPhoto}}" height="58"/>
        </div>
        <div class="right">
          <ons-icon ng-click="clearPhoto()" icon="fa-times" class="list__item__icon"></ons-icon>
        </div>
      </ons-list-item>
      <ons-list-item>
        <textarea class="textarea" ng-model="crowdText.value" placeholder="{{selectedPlace.name}}{{$root.lang.SET_CROWD_ATTACHMENT.TEXT_PLACEHOLDER_APPENDIX}}" style="width: 100%; height: 58px;"></textarea>
      </ons-list-item>
    </ons-list>
    <ons-bottom-toolbar>
        <div class="tab-bar">
            <label class="tab-bar__item" ng-click="insertCrowd()">
                <input type="radio" name="tab-bar-c" checked="checked">
                <button class="tab-bar__button">
                    <div class="tab-bar__label">{{$root.lang.SET_CROWD_ATTACHMENT.ADD_CROWD}}
                    </div>
                </button>
            </label>
        </div>
    </ons-bottom-toolbar>
  </ons-page>
</div>
